.notice {
  position: fixed;
  bottom: 2rem;
  opacity: 0;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  border-radius: 0.8rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0.15rem 0.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(100px) scale(0.3);

  &.on {
    animation-name: popup;
    animation-duration: 0.23s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(100px) scale(0.3);
  }
  50% {
    opacity: 0.3;
  }
  70% {
    transform: translateY(-15px) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
